<h2 class="text-4xl font-bold mb-6">Criar conta</h2>

<form class="mb-6" [formGroup]="cadastroForm" (submit)="cadastrarConta()">
  <div class="mb-6">
    <label for="nome" class="block text-md font-medium text-gray-700 mb-1">Nome Completo</label>
    <input
      id="nome"
      class="w-full"
      type="text"
      placeholder="Digite seu nome completo"
      formControlName="nome"
      pSize="large"
      pInputText
      [ngClass]="{
        'ng-invalid ng-dirty': nome?.touched && nome?.invalid
      }"
    />
    @if (nome?.touched && nome?.invalid && nome?.errors?.['required']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>Nome é obrigatório.</span>
      </p-message>
    }
    @if (nome?.touched && nome?.invalid && nome?.errors?.['nomeInvalido']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>Informe o seu nome completo (nome e sobrenome).</span>
      </p-message>
    }
  </div>

  <div class="mb-6">
    <label for="matricula" class="block text-md font-medium text-gray-700 mb-1">Matrícula</label>
    <p-inputnumber
      inputId="matricula"
      mode="decimal"
      placeholder="Digite sua matrícula"
      formControlName="matricula"
      [useGrouping]="false"
      [fluid]="true"
      size="large"
      [ngClass]="{
        'ng-invalid ng-dirty': matricula?.touched && matricula?.invalid
      }"
    />
    @if (matricula?.touched && matricula?.invalid && matricula?.errors?.['required']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>Matrícula é obrigatório.</span>
      </p-message>
    }
  </div>

  <div class="mb-6">
    <label for="email" class="block text-md font-medium text-gray-700 mb-1">Email</label>
    <input
      id="email"
      class="w-full"
      type="email"
      placeholder="Digite seu e-mail institucional"
      formControlName="email"
      pSize="large"
      pInputText
      [ngClass]="{
        'ng-invalid ng-dirty': email?.touched && email?.invalid
      }"
    />
    @if (email?.touched && email?.invalid && email?.errors?.['required']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>Email é obrigatório.</span>
      </p-message>
    }
    @if (email?.touched && email?.invalid && email?.errors?.['email']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>Email inválido.</span>
      </p-message>
    }
    @if (email?.touched && email?.invalid && email?.errors?.['emailInvalido']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>O e-mail deve ser institucional.</span>
      </p-message>
    }
  </div>

  <div class="mb-6">
    <label for="senha" class="block text-md font-medium text-gray-700 mb-1">Senha</label>
    <p-password
      inputId="senha"
      class="w-full"
      placeholder="Digite sua senha"
      size="large"
      formControlName="senha"
      [toggleMask]="true"
      [fluid]="true"
      [feedback]="false"
      [ngClass]="{
        'ng-invalid ng-dirty': senha?.touched && senha?.invalid
      }"
    />
    @if (senha?.touched && senha?.invalid && senha?.errors?.['required']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>Senha é obrigatório.</span>
      </p-message>
    }
    @if (senha?.touched && senha?.invalid && senha?.errors?.['minlength']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>A senha deve ter no mínimo 8 caracteres.</span>
      </p-message>
    }
  </div>

  <div class="mb-6">
    <label for="confirmarSenha" class="block text-md font-medium text-gray-700 mb-1">Confirmar senha</label>
    <p-password
      inputId="confirmarSenha"
      class="w-full"
      placeholder="Digite sua senha novamente"
      size="large"
      formControlName="confirmarSenha"
      [toggleMask]="true"
      [fluid]="true"
      [feedback]="false"
      [ngClass]="{
        'ng-invalid ng-dirty': confirmarSenha?.touched && confirmarSenha?.invalid
      }"
    />
    @if (confirmarSenha?.touched && confirmarSenha?.invalid && confirmarSenha?.errors?.['required']) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>Confirmar senha é obrigatório.</span>
      </p-message>
    }
    @if (confirmarSenha?.touched && cadastroForm.hasError('senhasDiferentes')) {
      <p-message
        variant="simple"
        size="small"
        severity="error"
        styleClass="mt-1"
      >
        <span>As senhas não coincidem.</span>
      </p-message>
    }
  </div>

  <p-button
    type="submit"
    styleClass="w-full h-12 text-lg font-semibold"
    [loading]="loadingService.loading$ | async"
    [disabled]="loadingService.loading$ | async"
  >
    Criar Conta
  </p-button>
</form>

<p class="text-md text-center">
  Já tem uma conta?
  <a
    routerLink="/autenticacao"
    class="text-primary hover:underline hover:cursor-pointer"
  >
    Faça Login
  </a>
</p>
