<p-card>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4" [formGroup]="pesquisaForm">
    <p-floatlabel variant="on">
        <p-select
          [options]="cursos"
          inputId="curso"
          formControlName="cursoId"
          optionLabel="nome"
          optionValue="cursoId"
          size="large"
          class="w-full"
          (onChange)="onCursoChange($event)"
        />
        <label for="curso">Curso</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-select
        [options]="turnos"
        inputId="turno"
        formControlName="turno"
        optionLabel="label"
        optionValue="value"
        size="large"
        class="w-full"
      />
      <label for="turno">Turno</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-select
        [options]="semestres"
        inputId="Semestre"
        formControlName="semestre"
        optionLabel="label"
        optionValue="value"
        size="large"
        class="w-full"
      />
      <label for="semestre">Semestre</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-select
        [options]="tiposTCC"
        inputId="tipoTCC"
        formControlName="tipoTCC"
        optionLabel="label"
        optionValue="value"
        size="large"
        class="w-full"
      />
      <label for="tipoTCC">Tipo de TCC</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-multiselect
        [options]="temas"
        inputId="temas"
        formControlName="temasIds"
        optionLabel="nomeTema"
        optionValue="temaId"
        size="large"
        class="w-full"
      />
      <label for="temas">Temas</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-multiselect
        [options]="caracteristicas"
        inputId="pontosFortes"
        formControlName="pontosFortesIds"
        optionLabel="descricao"
        optionValue="caracteristicaId"
        size="large"
        class="w-full"
      />
      <label for="pontosFortes">Pontos Fortes</label>
    </p-floatlabel>
  </div>
  <div class="flex flex-row md:justify-end items-center gap-4 mt-8">
    <p-button
      type="button"
      label="Pesquisar"
      icon="pi pi-search"
      class="w-full md:w-auto"
      styleClass="w-full"
      size="large"
      [loading]="loadingService.loading$ | async"
      [disabled]="loadingService.loading$ | async"
      (click)="pesquisar.emit()"
    />

    <p-button
      type="button"
      label="Limpar"
      icon="pi pi-times"
      class="w-full md:w-auto"
      styleClass="w-full"
      size="large"
      severity="danger"
      (click)="limparFiltros()"
    />
  </div>
</p-card>
